* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior: none;
  font-size: large;
  
  background-color:rgb(67, 67, 175);
}

.rotating-text-container {
  margin-top: 30%;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  transform-origin: center center;
  animation: spin 1s linear infinite;
  animation-fill-mode: backwards;
  animation-direction: alternate;
  font-size: 3em;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}
